In [1]:
import pandas as pd                 # 01
import matplotlib.pyplot as plt     # 02
import numpy as np                  # 03
import datetime                     # 04

## 04
## to get a year and month

## DATA INPUT

### There are 2 files
    # 01 - Data generated between 2015-01-01 to 2018-12-31
    # 02 - Data generated between 2019-01-01 to 2022-04-01

In [2]:
path_to_csv_01 = "C:\\Users\\JorgePalacios\\Downloads\\ESTUDIOS_SYGRIS\\MAESTRIA_DATA_SCIENCE\\TFM\\DATA\\DATA_2015_2018.csv"
path_to_csv_02 = "C:\\Users\\JorgePalacios\\Downloads\\ESTUDIOS_SYGRIS\\MAESTRIA_DATA_SCIENCE\\TFM\\DATA\\DATA_2019_2022.csv"
path_to_csv_03 = "C:\\Users\\JorgePalacios\\Downloads\\ESTUDIOS_SYGRIS\\MAESTRIA_DATA_SCIENCE\\TFM\\DATA\\DATA_HISTORY_EXCHANGE.csv"
df_01 = pd.read_csv(path_to_csv_01,  sep=';')
df_02 = pd.read_csv(path_to_csv_02,  sep=';')
df_03 = pd.read_csv(path_to_csv_03,  sep=',')

C:\Users\JorgePalacios\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_01.head()

,Requisition No,Wo No,Pr Line No,Pr Status,Req Name,Template Id,Part No,Inv/non-inv,Description,Qty Pr,...,Planned Receipt Date,Wanted Delivery Date,Planned Delivery Date,Promised Delivery Date,Reception Date,Closed Date,On Hand Qty,Order Point Qty,Lot Size,Lead Time
0,1377659,NaN,1,PO Created,"Munoz Saldarriaga, Daniel Leonardo",34-REQMAIN,34-DI-GP-0004,Inv,GASOLINA 95 OCTANOS,3000.0,...,3/01/2015,3/01/2015,3/01/2015,3/01/2015,2/02/2015 05:58 p. m.,2/02/2015 05:59 p. m.,1711.874,0.0,0.0,0.0
1,1377699,1457724 Work Order,1,PO Created,JOSE AGUSTIN RAMOS,34-REQMAIN,34-SR-GP-0143,Non-Inv,Servicio de reparación de un (01) arrancador d...,1.0,...,14/01/2015,14/01/2015,14/01/2015,14/01/2015,15/01/2015 08:32 a. m.,15/01/2015 08:32 a. m.,0.000,NaN,NaN,NaN
2,1377704,Mantenimiento,1,PO Created,"Villegas, Adelky Fernando",34-REQMAIN,34-SR-GP-0178,Non-Inv,SERVICIO MANTENIMIENTO - OBRAS CIVILES-01 Alba...,1.0,...,31/01/2015,31/01/2015,31/01/2015,31/01/2015,20/02/2015 10:45 a. m.,20/02/2015 10:46 a. m.,0.000,NaN,NaN,NaN
3,1378070,Mantenimiento-Obras Civil,1,PO Created,"Villegas, Adelky Fernando",34-REQMAIN,34-SR-GP-0178,Non-Inv,SERVICIO MANTENIMIENTO - OBRAS CIVILES - CONTR...,1.0,...,18/05/2015,18/05/2015,18/05/2015,18/05/2015,21/05/2015 08:18 a. m.,21/05/2015 08:18 a. m.,0.000,NaN,NaN,NaN
4,1378574,NaN,1,PO Created,Kiara Farfan,34-REQHSSE,34-SR-GP-0126,Non-Inv,CAPACITACION HSSE ( CAPACITACION DE BREZEA SER...,1.0,...,31/12/2015,31/12/2015,31/12/2015,31/12/2015,22/12/2015 01:52 p. m.,2/02/2016 12:03 a. m.,0.000,NaN,NaN,NaN

In [4]:
df_02.head()

,Requisition No,Wo No,Pr Line No,Pr Status,Req Name,Template Id,Part No,Inv/non-inv,Description,Qty Pr,...,Planned Receipt Date,Wanted Delivery Date,Planned Delivery Date,Promised Delivery Date,Reception Date,Closed Date,On Hand Qty,Order Point Qty,Lot Size,Lead Time
0,2223996,2204696 Work Order,1,PO Created,"Rondon, Andrea",34-REQMAIN,34-SR-GP-0241,Non-Inv,RS09 - Servicio de instalación de tomas rápida...,1.0,...,7/02/2019,7/02/2019,7/02/2019,7/02/2019,NaN,NaN,0.0,NaN,NaN,NaN
1,2223998,2204695 Work Order,1,PO Created,"Rondon, Andrea",34-REQMAIN,34-SR-GP-0241,Non-Inv,RS08 - Servicio de instalación de tomas acople...,1.0,...,7/02/2019,7/02/2019,7/02/2019,7/02/2019,NaN,NaN,0.0,NaN,NaN,NaN
2,2224000,2204694 Work Order,1,PO Created,"Rondon, Andrea",34-REQMAIN,34-SR-GP-0241,Non-Inv,RS07 - Servicio de instalación de tomas de aco...,1.0,...,7/02/2019,7/02/2019,7/02/2019,7/02/2019,NaN,NaN,0.0,NaN,NaN,NaN
3,2224017,2204626 Work Order,1,PO Created,"Morales, Percy",34-REQMAIN,34-MI-GP-0718,Inv,PASTA EN TUBO DISIPADOR DE CALOR WPS II 4GR AU...,4.0,...,28/02/2019,28/02/2019,28/02/2019,28/02/2019,25/02/2019 12:05 p. m.,25/02/2019 12:05 p. m.,4.0,0.0,0.0,177.0
4,2224058,2204992 Work Order,1,PO Created,"Moscoso, Dennis",34-REQMAIN,34-MI-GP-0276,Inv,PIEDRA CHANCADA,20.0,...,24/01/2019,24/01/2019,24/01/2019,24/01/2019,22/01/2019 11:36 a. m.,22/01/2019 11:37 a. m.,0.0,0.0,0.0,0.0

In [5]:
df_03.head()

        Fecha  Último Apertura  Máximo  Mínimo  % var.
0  08.04.2022  0,2691   0,2693  0,2705  0,2690   0,05%
1  07.04.2022  0,2690   0,2688  0,2693  0,2688  -0,48%
2  06.04.2022  0,2703   0,2704  0,2706  0,2702   0,00%
3  05.04.2022  0,2703   0,2745  0,2747  0,2700  -1,82%
4  04.04.2022  0,2753   0,2748  0,2763  0,2746   0,33%

##### VALIDATE IF BOTH FILE HAS THE SAME QUANTITY OF COLUMNS

In [6]:
print(len(df_01.columns) == len(df_02.columns))

True

#### IDENTIFY QUANTITIES PER COLUMN - DATA FRAME 01

In [7]:
print(df_01['Requisition No'].count())

37059

In [8]:
df_data_01_validate = df_01.count().reset_index()

In [9]:
df_data_01_validate['max_value'] = df_01['Requisition No'].count()

In [10]:
df_data_01_validate['difference'] = df_data_01_validate[0] - df_data_01_validate['max_value']

In [11]:
data_01_with_diference_registers = df_data_01_validate[df_data_01_validate.difference < -1]
data_01_with_diference_registers

                         index      0  max_value  difference
1                        Wo No  22726      37059      -14333
5                  Template Id  37038      37059         -21
11                    Purh U/m  19632      37059      -17427
12       Delivery Control Code   4717      37059      -32342
13  Delivery Control Code Desc   4717      37059      -32342
14             Order Proc Type     58      37059      -37001
15          Order Proc Descrip     58      37059      -37001
16                Supp Contact   7359      37059      -29700
18            Pr Approval Date  37000      37059         -59
19                   Note Text   7296      37059      -29763
36              Part Ownership  37057      37059          -2
38             Planning Method  20089      37059      -16970
40            Po Approval Date  35878      37059       -1181
41           Po Confirmed Date  34249      37059       -2810
46              Reception Date  33679      37059       -3380
47                 Closed Date  34228      37059       -2831
49             Order Point Qty  20089      37059      -16970
50                    Lot Size  20089      37059      -16970
51                   Lead Time  20089      37059      -16970

In [ ]:
for c in df_01.columns:
    print(c,'|', df_01[c].dtype)

In [ ]:
print(df_01.dtypes)

#### IDENTIFY QUANTITY - DATA FRAME 02

In [12]:
print(df_02['Requisition No'].count())

34952

In [13]:
df_data_02_validate = df_02.count().reset_index()

In [14]:
df_data_02_validate['max_value'] = df_02['Requisition No'].count()

In [15]:
df_data_02_validate['difference'] = df_data_02_validate[0] - df_data_02_validate['max_value']

In [16]:
data_02_with_diference_registers = df_data_02_validate[df_data_02_validate.difference < -1]
data_02_with_diference_registers

                         index      0  max_value  difference
1                        Wo No  21398      34952      -13554
5                  Template Id  34462      34952        -490
6                      Part No  34950      34952          -2
10                      Qty Po  33873      34952       -1079
11                    Purh U/m  16705      34952      -18247
12       Delivery Control Code  30621      34952       -4331
13  Delivery Control Code Desc  30621      34952       -4331
14             Order Proc Type  21680      34952      -13272
15          Order Proc Descrip  21680      34952      -13272
16                Supp Contact  27774      34952       -7178
18            Pr Approval Date  34296      34952        -656
19                   Note Text  11702      34952      -23250
20                    Order No  33873      34952       -1079
21                  Po Line No  33873      34952       -1079
22                  Release No  33873      34952       -1079
23                  Order Date  33873      34952       -1079
24                   Po Status  33873      34952       -1079
25                 Supplier Id  33873      34952       -1079
26               Supplier Name  34946      34952          -6
27                       Buyer  33873      34952       -1079
28                       Co Id  33873      34952       -1079
29                     Co Name  33873      34952       -1079
30                  Price/curr  33873      34952       -1079
32                    Currency  33873      34952       -1079
33                  Price/base  33873      34952       -1079
34                Net Amt/base  33873      34952       -1079
35               Delivery Term  33873      34952       -1079
36              Part Ownership  33871      34952       -1081
37                 Demand Code  33873      34952       -1079
38             Planning Method  15547      34952      -19405
40            Po Approval Date  33327      34952       -1625
41           Po Confirmed Date  26445      34952       -8507
42        Planned Receipt Date  33873      34952       -1079
43        Wanted Delivery Date  33873      34952       -1079
44       Planned Delivery Date  33873      34952       -1079
45      Promised Delivery Date  33873      34952       -1079
46              Reception Date  29426      34952       -5526
47                 Closed Date  28970      34952       -5982
49             Order Point Qty  16215      34952      -18737
50                    Lot Size  16215      34952      -18737
51                   Lead Time  16215      34952      -18737

In [ ]:
for c in df_02.columns:
    print(c,'|', df_02[c].dtype)

In [ ]:
print(df_02.dtypes)

#### MERGE THE 2 DATA FRAME
    # WE HAVE A PROBLEM BECAUSE COLUMNS HAVE DIFFERENCE DATATYPE
    # ERROR: DATA HAVE NOT LOADED
    # SOLUTION: STANDARDISE THE DATAFRAME COLUMNS

In [ ]:
df_total = df_01.merge(df_02)

In [ ]:
df_total

    # CONVERT DICTIONARY

In [17]:
convert_dict = {'Po Line No': float,
                'Release No': float,
                'Pur Qty To Rec': float
               }

In [18]:
df_01 = df_01.astype(convert_dict)
print(df_01.dtypes)

Requisition No                  int64
Wo No                          object
Pr Line No                      int64
Pr Status                      object
Req Name                       object
Template Id                    object
Part No                        object
Inv/non-inv                    object
Description                    object
Qty Pr                        float64
Qty Po                        float64
Purh U/m                       object
Delivery Control Code          object
Delivery Control Code Desc     object
Order Proc Type                object
Order Proc Descrip             object
Supp Contact                   object
Buyer Code                     object
Pr Approval Date               object
Note Text                      object
Order No                       object
Po Line No                    float64
Release No                    float64
Order Date                     object
Po Status                      object
Supplier Id                    object
Supplier Name                  object
Buyer                          object
Co Id                          object
Co Name                        object
Price/curr                    float64
Net Amt/curr                  float64
Currency                       object
Price/base                    float64
Net Amt/base                  float64
Delivery Term                  object
Part Ownership                 object
Demand Code                    object
Planning Method                object
Pur Qty To Rec                float64
Po Approval Date               object
Po Confirmed Date              object
Planned Receipt Date           object
Wanted Delivery Date           object
Planned Delivery Date          object
Promised Delivery Date         object
Reception Date                 object
Closed Date                    object
On Hand Qty                   float64
Order Point Qty               float64
Lot Size                      float64
Lead Time                     float64
dtype: object

In [19]:
df_total = df_01.append(df_02)
df_total.head()

,Requisition No,Wo No,Pr Line No,Pr Status,Req Name,Template Id,Part No,Inv/non-inv,Description,Qty Pr,...,Planned Receipt Date,Wanted Delivery Date,Planned Delivery Date,Promised Delivery Date,Reception Date,Closed Date,On Hand Qty,Order Point Qty,Lot Size,Lead Time
0,1377659,NaN,1,PO Created,"Munoz Saldarriaga, Daniel Leonardo",34-REQMAIN,34-DI-GP-0004,Inv,GASOLINA 95 OCTANOS,3000.0,...,3/01/2015,3/01/2015,3/01/2015,3/01/2015,2/02/2015 05:58 p. m.,2/02/2015 05:59 p. m.,1711.874,0.0,0.0,0.0
1,1377699,1457724 Work Order,1,PO Created,JOSE AGUSTIN RAMOS,34-REQMAIN,34-SR-GP-0143,Non-Inv,Servicio de reparación de un (01) arrancador d...,1.0,...,14/01/2015,14/01/2015,14/01/2015,14/01/2015,15/01/2015 08:32 a. m.,15/01/2015 08:32 a. m.,0.000,NaN,NaN,NaN
2,1377704,Mantenimiento,1,PO Created,"Villegas, Adelky Fernando",34-REQMAIN,34-SR-GP-0178,Non-Inv,SERVICIO MANTENIMIENTO - OBRAS CIVILES-01 Alba...,1.0,...,31/01/2015,31/01/2015,31/01/2015,31/01/2015,20/02/2015 10:45 a. m.,20/02/2015 10:46 a. m.,0.000,NaN,NaN,NaN
3,1378070,Mantenimiento-Obras Civil,1,PO Created,"Villegas, Adelky Fernando",34-REQMAIN,34-SR-GP-0178,Non-Inv,SERVICIO MANTENIMIENTO - OBRAS CIVILES - CONTR...,1.0,...,18/05/2015,18/05/2015,18/05/2015,18/05/2015,21/05/2015 08:18 a. m.,21/05/2015 08:18 a. m.,0.000,NaN,NaN,NaN
4,1378574,NaN,1,PO Created,Kiara Farfan,34-REQHSSE,34-SR-GP-0126,Non-Inv,CAPACITACION HSSE ( CAPACITACION DE BREZEA SER...,1.0,...,31/12/2015,31/12/2015,31/12/2015,31/12/2015,22/12/2015 01:52 p. m.,2/02/2016 12:03 a. m.,0.000,NaN,NaN,NaN

In [20]:
df_total['Requisition No'].count()

72011

In [21]:
df_total['unique_id'] = df_total['Requisition No'].map(str) + '_' + df_total['Pr Line No'].map(str) + '_' + df_total['Order No'].map(str)

In [22]:
df_total['unique_id'].head(10).reset_index()

   index        unique_id
0      0  1377659_1_R8741
1      1  1377699_1_R8808
2      2  1377704_1_R8755
3      3  1378070_1_R9417
4      4  1378574_1_R8814
5      5  1378576_1_R9007
6      6  1378580_1_R9521
7      7  1378581_1_R8833
8      8  1378589_1_R8745
9      9  1378609_1_R8999

In [23]:
df_total['unique_id'].nunique()

72011

In [ ]:
## QUANTITY OF REGISTER BY EACH COLUMN

In [27]:
df_total_register_by_column = df_total.count().reset_index()

In [28]:
df_total_register_by_column

                         index      0
0               Requisition No  72011
1                        Wo No  44124
2                   Pr Line No  72011
3                    Pr Status  72011
4                     Req Name  72011
5                  Template Id  71500
6                      Part No  72008
7                  Inv/non-inv  72011
8                  Description  72011
9                       Qty Pr  72011
10                      Qty Po  70931
11                    Purh U/m  36337
12       Delivery Control Code  35338
13  Delivery Control Code Desc  35338
14             Order Proc Type  21738
15          Order Proc Descrip  21738
16                Supp Contact  35133
17                  Buyer Code  72011
18            Pr Approval Date  71296
19                   Note Text  18998
20                    Order No  70932
21                  Po Line No  70932
22                  Release No  70932
23                  Order Date  70932
24                   Po Status  70931
25                 Supplier Id  70931
26               Supplier Name  72005
27                       Buyer  70932
28                       Co Id  70932
29                     Co Name  70931
30                  Price/curr  70931
31                Net Amt/curr  72011
32                    Currency  70931
33                  Price/base  70931
34                Net Amt/base  70931
35               Delivery Term  70932
36              Part Ownership  70928
37                 Demand Code  70931
38             Planning Method  35636
39              Pur Qty To Rec  72011
40            Po Approval Date  69205
41           Po Confirmed Date  60694
42        Planned Receipt Date  70931
43        Wanted Delivery Date  70931
44       Planned Delivery Date  70931
45      Promised Delivery Date  70931
46              Reception Date  63105
47                 Closed Date  63198
48                 On Hand Qty  72011
49             Order Point Qty  36304
50                    Lot Size  36304
51                   Lead Time  36304
52                   unique_id  72011

#### IDENTIFY THE MAX VALUE AND COMPARE WITH THE OTHER COLUMNS

In [26]:
print(df_total_register_by_column['index'].count())

5

In [ ]:
df_data_02_validate = df_02.count().reset_index()

In [ ]:
df_data_02_validate['max_value'] = df_02['Requisition No'].count()

In [ ]:
df_data_02_validate['difference'] = df_data_02_validate[0] - df_data_02_validate['max_value']

In [ ]:
data_02_with_diference_registers = df_data_02_validate[df_data_02_validate.difference < -1]
data_02_with_diference_registers

In [ ]:
df_total_register_by_column['max_value'] = df_total_register_by_column[0].count()

In [ ]:
df_total_register_by_column['difference'] = df_total_register_by_column[0] - df_total_register_by_column['max_value']

In [ ]:
df_total_register_by_column

In [ ]:
df_data_total_with_diference_registers = df_total_register_by_column[df_total_register_by_column.difference < -1]
df_data_total_with_diference_registers.sort_values('difference')

In [ ]:
df_total['Po Approval Date'] = pd.to_datetime(df_total['Po Approval Date'])
df_total['year_id'] = df_total['Po Approval Date'].dt.year
df_total['month_id'] = df_total['Po Approval Date'].dt.month

In [ ]:
df_total[['Po Approval Date','year_id','month_id']]

In [ ]:
df_total['year_id'].hist(bins=30)

In [ ]:
plt.hist(df_total['year_id'], bins=30);

In [ ]:
fig = plt.figure(figsize=(6,8))
fig , ax = plt.subplots(1,2)

plt.subplot(2,2,1)
plt.hist(df_total['year_id'], bins=15);
plt.title('By year')

plt.subplot(2,2,2)
plt.hist(df_total['month_id'], bins=15);
plt.title('By month')

In [ ]:
print(df_total['Requisition No'].count())

In [ ]:
df_total.groupby(['year_id','month_id'])['Requisition No'].count().reset_index().head(12)

In [ ]:
df_total.groupby(['year_id'])['Requisition No'].count().reset_index().head(10)

In [ ]:
df_total.groupby('year_id')['Requisition No'].count().plot(legend=True)

In [ ]:
data_area_requisition = df_total.groupby(['Template Id'])['Requisition No'].count().reset_index()

In [ ]:
data_area_requisition = data_area_requisition.sort_values(['Requisition No'],ascending=False)

In [ ]:
data_area_requisition.plot(x ='Template Id', y='Requisition No')

In [ ]:
data_year_area = df_total.groupby(['year_id','Template Id'])['Requisition No'].count().reset_index()

In [ ]:
data_year_area.sort_values(['year_id','Requisition No'],ascending=False)

In [ ]:
data_year_area.plot(x ='year_id', y='Requisition No')

In [ ]:
data_year_supplier = df_total.groupby(['year_id','Supplier Name'])['Requisition No'].count().reset_index()

In [ ]:
data_year_supplier = data_year_supplier.sort_values(['year_id','Requisition No'],ascending=False)

In [ ]:
data_year_supplier.plot(x ='Supplier Name', y='Requisition No')

In [ ]:
df_total['Order Date'] = pd.to_datetime(df_total['Order Date']).dt.date
df_total['Po Approval Date'] = pd.to_datetime(df_total['Po Approval Date']).dt.date
df_total['Planned Receipt Date'] = pd.to_datetime(df_total['Planned Receipt Date']).dt.date
df_total['Reception Date'] = pd.to_datetime(df_total['Reception Date']).dt.date

In [ ]:
df_total[['Order Date','Po Approval Date','Planned Receipt Date','Reception Date','Lead Time']].head(10)

In [ ]:
df_total['compliance'] = df_total['Planned Receipt Date'] - df_total['Reception Date']

In [ ]:
df_total[['Order Date','Po Approval Date','Planned Receipt Date','Reception Date','Lead Time','compliance']].head(10)

In [ ]:
df_group_1.sort_values(by='referencia', ascending = False)